@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET es un marco web gratuito para crear excelentes sitios web y aplicaciones web utilizando HTML, CSS y JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Aprende más &raquo;</a></p>
</div>
@*<div><h1>@Html.ActionLink("CLIENTES","Index","Clientes")</h1></div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>
            ASP.NET MVC le brinda una forma poderosa y basada en patrones de crear sitios web dinámicos que permite una separación limpia de preocupaciones y le brinda control total sobre el marcado para un desarrollo ágil y agradable.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprende más  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenga más bibliotecas</h2>
        <p>NuGet es una extensión gratuita de Visual Studio que facilita la adición, eliminación y actualización de bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprende más  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alojamiento web</h2>
        <p>Puede encontrar fácilmente una empresa de alojamiento web que ofrezca la combinación adecuada de características y precio para sus aplicaciones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprende más  &raquo;</a></p>
    </div>
</div>